#picture-column {
    display: flex;
    justify-content: center;

}

#aboutmetext-column {
    display: flex;
  align-items: center;
    text-align: center;
    padding: 0 100px;
}

#profile-picture {
    border-radius: 50%;
}


#aboutme-container {
    padding-top: 4%;
   background: red;
}

#aboutme-header {
    text-align: center;
}

#giggles {
    display: flex;
    align-items: center;
    height: 100%;
}


