#picture-column {
    display: flex;
    justify-content: center;
    
}

#aboutme-column {
    display: flex;
    align-items: center;
    text-align: center;
    


}

#profile-picture {
    border-radius: 50%;
    border: 5px solid #555;
}


#aboutme-container {
    padding-top: 4%;

}

#aboutme-header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
}

#aboutme-text {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding-right: 10%;
    /* padding-bottom: 1%; possibly needed to push text a little higher, but need to see with the final text*/
}

#rows {
    margin: 1% 0 1%;
}

@media screen and (max-width: 1399px) {
    #aboutme-text {
        padding-top: 5%;
      padding-right: 0%;
    }
 

  }

  @media screen and (max-width: 1200px) {
    img {
        height: 200px;
        width: 200px;
    }
 

  }