#link-container {
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
}

#name-text {
    font-size: 27px;
}

#name-text:hover, #links:hover {
    color: red;
}

#color-nav {
    background-color: #323232;
}