#projects {
    margin: 8vh 0;
}

#projectheader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 8vh;
}

#card-body {
    text-align:center;
}

#card-buttons {
    margin: 0 20px
}

.card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 0 50px;
}

/* cards need to be styled for mobile responsiveness */